.orders{
  display: inline-block;
  width: 35%;
  height: auto;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 8px;
  background: #ebebeb;
}

.orderItem{
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}
.type{
  width: 45%;
}
.amount{
  width: 15%;
}
.price{
  width: 15%;
  text-align: right;
}
.cash{
  margin: 0 5px;
}
.total{
  padding-top: 15px;
  font-weight: 700;
}
.remove{
  background: none;
  border: none;
  font-weight: 700;
  color: maroon;
  transform: translateY(-1px);
}
.remove:hover{
  cursor: pointer;

}
