.items{
  width: 55%;
  height: auto;
  border: 2px solid #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background: #ebebeb;
}

.item{
  width: 120px;
  padding: 10px 20px;
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 15px;
  background: goldenrod;
  text-align: center;
}
.item:hover{
  cursor: pointer;
  background: #c2850b;
  color: #ebebeb;
  box-shadow: 0 5px 15px 0 rgba(50, 50, 50, 0.75);
}
.img{
  margin: 0 auto;
}
.itemTitle{
  font-weight: 700;
}

.itemPrice{
  font-size: 14px;
}